apiVersion: v1
kind: Secret
metadata:
  name: acr-secret
  namespace: {{ k8s_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  # Generamos el JSON internamente y lo pasamos a Base64
  .dockerconfigjson: {{ {
    "auths": {
      acr_url: {
        "auth": (acr_username + ":" + acr_password) | b64encode
      }
    }
  } | to_json | b64encode }}